* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

html {
	background-image: url("../assets/bg-top.svg"), url("../assets/bg-bottom.svg");
	background-position: left top, right bottom;
	background-repeat: no-repeat, no-repeat;
	background-attachment: fixed;
}

main {
	height: 100vh;
	margin: 0;
	padding: 40px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

main h1 {
	margin-top: 0;
	font-family: "Bitter", Helvetica, sans-serif;
	text-transform: uppercase;
	color: #2d2d2d;
	font-size: 70px;
	text-align: center;
}

.color-pickers {
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 800px;
}

.color-pickers label {
	width: 20%;
	text-align: center;
}

.color-pickers label input {
	display: block;
	margin: auto;
	cursor: pointer;

}

.color-pickers label h3 {
	margin-top: 10px;
	font-family: "Bitter", Helvetica, sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 20px;
	color: #454545;
}

.util {
	display: flex;
	justify-content: center;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.util label {
	margin-left: 40px;
	margin-right: 40px;
	padding: 0;
}

.util label input {
	display: none;
}

.util img {
	max-width: 30px;
	margin: 0;
	cursor: pointer;
}

.util img:active {
	transform: translateY(2px);
}

footer {
	padding-bottom: 40px;

	display: flex;
	justify-content: center;
}